<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div th:include="modal.html :: confirm"></div>
<div class="container">
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/home">Home</a>&nbsp;|&nbsp;<a href="/user/list">User</a>
		</div>
	</div>
	<div class="row"><h2>Patient List for mediscreen</h2></div>
	<div class="row">
		<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Date of birth</th>
					<th>Gender</th>
					<th>Address</th>
					<th>Phone</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patient : ${patients}">
					<td style="width: 10%" th:text="${patient.id}"></td>
					<td th:text="${patient.firstname}"></td>
					<td th:text="${patient.lastname}"></td>
					<td th:text="${patient.birthDate}"></td>
					<td th:text="${patient.genre}"></td>
					<td th:text="${patient.address}"></td>
					<td th:text="${patient.phoneNumber}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/patHistory/{patientId}/list(patientId=${patient.id})}">Notes</a>&nbsp;|&nbsp;
						<a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/patient/delete/{id}(id=${patient.id})}" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>